
.card {
  width: 75%;
  display: flex;
  justify-content: right;
}
.the-body {
  display: flex;
}
header {
  width: 100%;
}
.jumbotron{
  background-image: url("shootingstar.gif");
   background-size: cover;
   background-repeat: no-repeat;
   color:aliceblue;
   text-shadow: 0 0 10px crimson;
   border: 5px;
   border-color: darkorchid;
   border-style:outset;
   box-shadow: 0 0 15px crimson;
   text-align: center;
}
body{
  background-image: url("shootingstar.gif");
      background-size: cover;
   background-repeat: no-repeat;
   
}
.input {
display:inline;
}
#button {

  text-align: center;
  width: 80px;
  padding: 4px;
  font-size: 13px;
  color: black;
  background-color: whitesmoke;
  font-family:poppins;
  border: 2px solid darkslateblue;
  border-radius: 50px;
  transition: 1.5s;
}
#button:hover {
  color: rgb(68, 8, 8);
  cursor:default;
  background-color: violet;
}
label {
  color:aliceblue;
  align-items: center;
  text-shadow: 0 0 10px crimson;
  
}
#start{
  width: 130px;
  padding: 4px;
  font-size: 13px;
  color: black;
  background-color: whitesmoke;
  font-family:poppins;
  border: 2px solid darkslateblue;
  border-radius: 50px;
  transition: 1.5s;
  text-align: center;
}
#start:hover{
  color: rgb(68, 8, 8);
  cursor:default;
  background-color: violet;
  box-shadow: 0 0 10px crimson;
}
.display-4,
.lead,
.color,
 .sign,
 .facts,
  .luckyNumber,
  .luckyTime,
  .mood,
  .randomfact
    {
      margin-top: 20px;
      text-align: center;  
      color:rgb(193, 190, 194);
      text-shadow:0 0 5px crimson;
}

.footer{
  background-image: url("shootingstar.gif");
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  text-shadow: 0 0 5px crimson;
  padding: 35px;
  text-align: center;
  
}

